@tailwind base;
@tailwind components;
@tailwind utilities;

#__next,
html,
body,
.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  padding: 0;
  margin: 0;
}
@media (min-width: 1281px) and (max-width: 1360px) {
  html {
    font-size: 15.11px;
  }
}

@media (min-width: 1201px) and (max-width: 1280px) {
  html {
    font-size: 14.22px;
  }
}

@media (min-width: 1121px) and (max-width: 1200px) {
  html {
    font-size: 13.33px;
  }
}

@media (min-width: 1041px) and (max-width: 1120px) {
  html {
    font-size: 12.44px;
  }
}
@media (min-width: 961px) and (max-width: 1040px) {
  html {
    font-size: 11.56px;
  }
}

@media (min-width: 901px) and (max-width: 960px) {
  html {
    font-size: 10.67px;
  }
}

/* @media (max-width: 900px) {
  html {
    font-size: 16px;
  }
} */
#__next {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  line-height: 1.375;
}

img:not([src]),
img[src=""] {
  opacity: 0;
}

*{
  -webkit-tap-highlight-color: transparent;
}

.bubble-box {
  position: relative;
}

.bubble-box::before {
  position: absolute;
  bottom: -1.20rem;
  left: 50%;
  transform: rotate(180deg);
  margin-left: -10px;
  border-bottom: 18px solid #29953A;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  content: "";
}

.bubble-box:after {
  content: "";
  bottom: -1rem;
  left: 50%;
  margin-left: -9px;
  transform: rotate(180deg);
  background: transparent;
  border-bottom: 16px solid #fff;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  position: absolute;
}


.triangle {
  position: relative;
}

.triangle::before {
  position: absolute;
  top: 0.5rem;
  right: -1.99rem;
  transform: rotate(90deg);
  margin-left: -10px;
  border-bottom: 24px solid #FFE184;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  content: "";
}