@tailwind base;
@tailwind components;
@tailwind utilities;

#__next,
html,
body,
.App {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  padding: 0;
  margin: 0;
}
@media (min-width: 1281px) and (max-width: 1360px) {
  html {
    font-size: 15.11px;
  }
}

@media (min-width: 1201px) and (max-width: 1280px) {
  html {
    font-size: 14.22px;
  }
}

@media (min-width: 1121px) and (max-width: 1200px) {
  html {
    font-size: 13.33px;
  }
}

@media (min-width: 1041px) and (max-width: 1120px) {
  html {
    font-size: 12.44px;
  }
}
@media (min-width: 961px) and (max-width: 1040px) {
  html {
    font-size: 11.56px;
  }
}

@media (min-width: 901px) and (max-width: 960px) {
  html {
    font-size: 10.67px;
  }
}

/* @media (max-width: 900px) {
  html {
    font-size: 16px;
  }
} */
#__next {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  line-height: 1.375;
}

img:not([src]),
img[src=""] {
  opacity: 0;
}
